<div class="stats-wrap">
  <h3 class="section-title">Vehicles <button class="add">+</button></h3>
  <button (click)="Vehicle()"> <a href="new-vehicles">Add Vehicle</a></button>

  <div class="cards">
    <div class="card">
      <div class="icon">🚍</div>
      <div class="label">Fleet</div>
      <div class="value">22</div>
    </div>

    <div class="card">
      <div class="icon">⚡</div>
      <div class="label">Active</div>
      <div class="value">19</div>
    </div>

    <div class="card">
      <div class="icon">🔧</div>
      <div class="label">Service</div>
      <div class="value">3</div>
    </div>
  </div>
</div>
